<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ext.springbatis.dao.AccountDao">
  <resultMap id="BaseResultMap" type="com.ext.springbatis.model.Account">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="balance" jdbcType="REAL" property="balance"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, balance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ext.springbatis.model.Account">
    insert into t_account (id, name, balance
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{balance,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ext.springbatis.model.Account">
    insert into t_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ext.springbatis.model.Account">
    update t_account
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ext.springbatis.model.Account">
    update t_account
    set name = #{name,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="moveIn">
    update t_account
    set balance = balance+#{money }
    where  id = #{id,jdbcType=INTEGER}
  </update>
  <update id="moveOut">
    update t_account
    set balance = balance-#{money }
    where  id = #{id,jdbcType=INTEGER}
  </update>
</mapper>